$primary: #98a718;
$black: #000000;
$gray: #aaaaaa;
$white: #ffffff;
$pageGridColumns: 72px auto 72px;
$pageGridRows: 72px auto auto;

/* Base: font */
body {
    font-family: 'Josefin Sans', sans-serif;
}

/* Base: space */
* {
    margin: 0;
    padding: 0;
}

/* Base:  list */
ul {
    list-style: none;
}

/* Base: link */ 
a {
    color: inherit;
    text-decoration: none;
}

/* Base image */
img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* Base screen reader only */
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px; 
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Page Grid */
.pageGrid {
    display: grid;
    grid-template-columns: $pageGridColumns;
    grid-template-rows: $pageGridRows;
}

/* Parts Grid */
.partsGrid {
    display: grid;
    grid-template-columns: 20px auto 20px;

    & > * {
        grid-column: 2;
    }

    &::before {
        grid-column: 2;
    }

    &::after {
        grid-column: 2;
    }
}

@media (min-width: 768px) {
    .partsGrid {
        grid-template-columns: minmax(72px, 1fr) minmax(auto, 1074px) minmax(72px, 1fr);
    }

    .article {
        .partsGrid {
            grid-template-columns: minmax(72px, 1fr) minmax(auto, 860px) minmax(72px, 1fr);
        }
    }
}

/* Navigation button */
.nav-button {
    grid-column: 3;
    grid-row: 1;
    padding: 0;
    outline: none;
    border: none;
    background-color: $primary;
    cursor: pointer;
    /* Navigation button's white line */
    display: grid;
    place-content: center;

    &::before, &::after {
        content: '';
        display: block;
        margin: auto;
        width: 32px;
        height: 4px;
        background-color: $white;
    }

    &::before {
        transform: translateY(-5px);
    }

    &::after {
        transform: translateY(5px);
    }
}

/* SNS menu */
.sns {
    grid-column: 3;
    grid-row: 2;
    justify-self: end;
    align-self: start;
    margin-top: 187px;
    margin-right: 10px;
    display: grid;
    gap: 30px;
    z-index: 10;
}

@media (min-width: 768px){
    .sns {
        justify-self: center;
        margin-right: 0;
    }
}

/* Vertical text */
.decor {
    grid-column: 1;
    grid-row: 2;
    justify-self: start;
    align-self: start;
    margin-top: 257px;
    margin-left: 10px;
    color: $gray;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    z-index: 10;
}

@media (min-width: 768px) {
    .decor {
        justify-self: center;
        margin-left: 0;
    }
}

/* Decorative line */
@media (min-width: 768px) {
    .pageGrid::before, .pageGrid::after {
        content: '';
        display: block;
        background-color: $primary;
        grid-column: 1;
        grid-row: 2;
        justify-self: center;
        margin-top: 660px;
        z-index: 10;
    }

    .pageGrid::before {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }

    .pageGrid::after {
        width: 1px;
        min-height: 200px;
    }
}

/* Footer */
.footer {
    grid-column: 1 / -1;
    grid-row: 3;
    background-color: $black;
    color: $white;
    padding: 81px 0 86px;

    & > * {
        grid-row: 1;
    }

    .site {
        margin-bottom: 33px;
        font-size: 37px;
        font-weight: bold;
    }

    address {
        font-size: 14px;
        line-height: 1.3;
        display: block;
    }

    .chat {
        justify-self: end;
        margin-top: -100px;
        color: $primary;
        font-size: 16px;
        font-weight: bold;
        text-align: center;

        img {
            padding-bottom: 7px;
        }
    }
}

@media (min-width: 768px) {
    .footer {
        .chat {
            margin-top: 0;
        }
    }
}

/* Main content */
main {
    grid-column: 1 / -1;
    grid-row: 2;
}

/* Header image */
.headimg {
    .site {
        margin-top: 33px;
        color: $primary;
        font-size: 37px;
        font-weight: bold;
    }

    figure {
        grid-column: 1 / -1;

        img {
            width: 100%;
            height: 498px;
            object-fit: cover;
        }
    }  
}

@media (min-width: 768px) {
    .headimg {
        figure {
            grid-column: 2;
        }

        img {
            object-position: center bottom;
        }
    }
}

/* Article */
.article {
    padding: 65px 0 105px;
    row-gap: 28px;

    h1 {
        font: {
            weight: bold;
            size: 32px;
        }
    }

    p {
        font-size: 17px;
        line-height: 1.65;
    }
}

@media (min-width: 768px) {
    .article {
        padding: 116px 0;
        row-gap: 36px;

        h1 {
            font-size: 48px;
            margin-bottom: 4px;
        }

        p {
            font-size: 21px;
            line-height: 1.7;
        }
    }
}

/* Gallery */
.gallery {
    display: grid;
    grid-template-columns: 158fr 167fr;
    grid-template-rows: 173px 136px 136px;
    grid-template-areas: "A A" "B C" "B D";
    gap: 10px;
    margin: 14px 0;

    .photoA {grid-area: A;}
    .photoB {grid-area: B;}
    .photoC {grid-area: C;}
    .photoD {grid-area: D;}

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@media (min-width: 768px) {
    .gallery {
        grid-template-columns: 334fr 248fr 248fr;
        grid-template-rows: 278px 205px;
        grid-template-areas: "B A A" "B C D";
        gap: 15px;
        margin: 16px 0;
    }
}

/* Hero */
.hero {
    background-color: $white;


    &> * {
        grid-column: 1 / -1;
        grid-row: 1;
        justify-self: center;
    }

    h1, p {
        color: $white;
        mix-blend-mode: difference;
        z-index: 2;
        line-height: 1;
    }

    h1 {
        margin-top: 33px;
        font-size: 91px;
        font-weight: bold;
    } 
      
    
    p {
        margin-top: 120px;
        font-size: 17px;
    }

    img {
        margin: 63px 0 100px;
        width: 302px;
        height: 506px;
        object-fit: cover;
    }
}

@media (min-width: 768px) {
    .hero {
        h1 {
            margin-top: 33px;
            font-size: 229px;
        }

        p {
            margin-top: 251px;
            font-size: 44px;
        }

        img {
            margin: 84px 0 183px;
            width: 488px;
            height: 639px;
        }
    }
}

@media (max-width: 374px) {
    .hero {
        h1 {
            font-size: 75px;
        }
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .hero {
        h1 {
            font-size: 160px;
        }

        p {
            margin-top: 185.5px;
            font-size: 30.5px;
        }

        img {
            width: 395px;
            height: 572.5px;
        }
    }
}

/* Message */
.msg {
    padding: 64px 0;
    row-gap: 56px;

    img {
        object-position: left center;
    }

    h2 {
        margin-bottom: 5px;
        font-size: 30px;
        font-weight: bold;
    }

    .text-subtiitle {
        margin-bottom: 40px;
        color: $gray;
        font-size: 20px;
    }

    .text-body {
        margin-bottom: 70px;
        font-size: 16px;
        line-height: 1.5;
    }

    .text-link {
        color: $primary;
        font-size: 18px;
        font-weight: bold;
    }

    figure {
        grid-row: 1;
    }
    
    &::before {
        grid-row: 1;
        z-index: 2;
        content: '';
        display: block;
        width: 26px;
        height: 27px;
        background-color: $primary;
    }
}


.msgBlack {
    color: $white;
    background-color: $black;

    img {
        object-position: left center;
    }
}

.msgWhite::before {
    justify-self: end;
}

.msgWhite::after {
    grid-column: 1;
    grid-row: 1;
    margin-right: -90px;
    z-index: -1;
    height: 130px;
    align-self: end;
    margin-bottom: -25px;
    content: '';
    display: block;
    background-color: $primary;
    opacity: 60%;
}

@media (min-width: 768px) {
    .msg {
        figure {
            grid-row: 1;
            width: 44%;
        }

        .text {
            grid-row: 1;
            width: 44%;
            margin: 92px 0 46px;
        }

        h2 {
            font-size: 38px;
        }

        img {
            height: 100%;
        }
    }

    .msgBlack figure, .msgWhite .text {
        justify-self: end;
    }
}


